

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Events " />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="../Content/Contents/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../Content/Contents/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="../Content/Contents/css/font-awesome.css" rel="stylesheet">		<!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="../Content/Contents/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-h0iQPdG6Zt5k8h6RYMvmuMtXlE5tTOyoTKhDB3RrHxphXc2NTbIHA9c9v87X8OK4" crossorigin="anonymous">

    @RenderSection("styles", false)

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


    <!-- //banner -->
    <!-- header -->
    <div class="header-w3layouts">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Events</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="#">Events</a></h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden"><a href="#page-top"></a>	</li>
                        <li><a class="hvr-sweep-to-right">@Html.ActionLink("Add Venue", "AddVenue", "Admin")</a></li>
                        <li><a class="hvr-sweep-to-right">@Html.ActionLink("Bookings", "Bookings", "Admin")</a></li>
                        <li><a class="hvr-sweep-to-right">@Html.ActionLink("View Bookings", "ViewBookings", "Admin")</a></li>
                        <li><a class="hvr-sweep-to-right">@Html.ActionLink("Venues", "Venues", "Admin")</a></li>
                        <li><a class="hvr-sweep-to-right">@Html.ActionLink("Events", "Events", "Admin")</a></li>
                        <li><a class="hvr-sweep-to-right">@Html.ActionLink("Add Event", "AddEvent", "Admin")</a></li>
                        <li><a class="hvr-sweep-to-right">@Html.ActionLink("Logout", "Logout", "Authentication")</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
    <!-- //header -->

    <div>
        @RenderBody();
        @RenderSection("body", required: false)
    </div>


    <!-- /footer-top -->
    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="copyright">
                        <a href="#" class="f_logo">Event Management</a>
                        <div class="sub_copyright">
                            Mastering Memorable Moments
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- bootstrap-modal-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Events
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="../Content/Contents/images/g8.jpg" alt=" " class="img-responsive" />
                    <p>

                        <i>
                            " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", false)
    <!-- //bootstrap-modal-pop-up -->
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    <script type="text/javascript" src="../Content/Contents/js/jquery-2.2.3.min.js"></script>

    <!-- skills -->

    <script type="text/javascript" src="../Content/Contents/js/responsiveslides.min.js"></script>
    <script type="text/javascript">
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <script type="text/javascript">
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>

    <!-- start-smoth-scrolling -->
    <!-- OnScroll-Number-Increase-JavaScript -->
    <script type="text/javascript" src="../Content/Contents/js/numscroller-1.0.js"></script>
    <!-- //OnScroll-Number-Increase-JavaScript -->
    <!--flexiselDemo1 -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 2,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 991,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="../Content/Contents/js/jquery.flexisel.js"></script>
    <!--//flexiselDemo1 -->

    <script type="text/javascript" src="../Content/Contents/js/move-top.js"></script>
    <script type="text/javascript" src="../Content/Contents/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../Content/Contents/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>

</body>
</html>

